<!-- Section Book Start -->
<section class="book" id="book">
    <div class="container">

        <div class="main-text">
            <h1 class="text-center m-5 font-monospace fw-bolder"><span class="text-warning">ADD P</span>roduct</h1>
        </div>
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container">
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="text-drak" style="text-decoration: none;" href="/cars/list">
                                <button class="btn btn-warning text-light"><i class="fa-solid fa-less-than"></i>
                                    Previous</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row">

            <div class="col-md-3 py-3 py-md-0">

            </div>

            <div class="col-md-6 py-3 py-md-2">
                <form action="/cars/edit/{{car._id}}" method="post" >
                    <input type="text" class="form-control" placeholder="Product Title " name="title" required value="{{car.title}}"><br>
                    <input type="text" class="form-control" placeholder="Product Name" name="name" required value="{{car.name}}"><br>
                    <input type="text" class="form-control" placeholder="Product Price" name="price" required value="{{car.price}}"><br>
                    <input type="url" class="form-control" placeholder="Product Image" name="image" required value="{{car.image}}"><br>
                    <input type="number" class="form-control" name="quantity" placeholder="Product Quantity" value="{{car.quantity}}"><br>
                    <input type="submit" value="Edit" class="btn btn-warning fw-bolder text-light" required>

                </form>

            </div>

            <div class="col-md-3 py-3 py-md-0">

            </div>
        </div>
    </div>
</section>
<!-- Section Book End -->